body
{
    padding: 20px;
    background-color: #eaeaea;
}

.outer-box
{
    height: 300px;
    width: 300px;
    background-color: hsla(48,100%,68%,.75);
    position: relative;
}

.inner-box
{
    height: 100px;
    width: 100px;
    background-color: hsla(20,60%,50%,.5);
    position: absolute;
    right: -50px;
    bottom: -50px;
}