img
{
    margin: 50px auto;
    display: block;
    width: 50%;
    height: auto;
}

/* Properti dari filter */
/*

    1. blur()
    2. brightness()
    3. contrast()
    4. drop-shadow()
    5. grayscale()
    6. hue-rotate()
    7. invert()
    8. opacity()
    9. saturate()
    10. sepia()
    11. url()

*/

img
{
    filter: drop-shadow(5px 5px 5px black)
            grayscale(1)
            blur(5px);
    transition: .5s;
}

img:hover
{
    filter: drop-shadow(5px 5px 5px black)
            grayscale(0)
            blur(0px);
}